// Color Variables
$main_blue0: #6096ff; // main color
$main_blue1: #3e7fff;
$main_blue_light0: #81acff; // main color when hover
$main_blue_light1: #ecf1fa;
$dark-blue0: #1b2a36;

$gray0: #f9f9fa;
$gray1: #f1f3f6;
$gray2: #e7eaef;
$gray3: #d8dde7;
$gray4: #bbc2d0;
$gray5: #9aa3b5;
$gray6: #666d7c;
$gray7: #f2f3f4;
$gray8: #f4f4f5;
$gray9: #77828c;
$gray10: #fdfeff;
$gray11: #dbdfe8;

$black0: #1e2a35; // primary text
$black1: #34495e;

$navy0: #133f7a; // link
$purple0: #3e39ac; // visited link

$red0: #f54b5e; // caution
$green0: #48d2a0; // success
$yellow0: #ffcf48; // warning
